---
import Layout from "../layouts/Layout.astro";

const title = "PWA install prompt";
const description = "Storing the PWA install prompt for later use with custom PWA experience";
const permalink = `${Astro.site.href}01-pwa-install-prompt/`;
---

<script is:inline src="/js/install-pwa.js"></script>

<Layout title={title} description={description} permalink={permalink} showBackButton={true}>
    <main>
        <baseline-status featureId="beforeinstallprompt"></baseline-status>

        <p>In a few seconds a <strong>custom build PWA banner</strong> will appear at the bottom of the viewport.</p>

        <h2>Feature check the web browser</h2>

        <ul>
            <li>
                If the web browser natively supports installing PWA's this <code>beforeinstallPrompt</code> -event will be saved. And not executed yet.
            </li>
            <li>When our custom "Install our PWA app" -button is clicked it will feature test the web browser for this event.</li>
            <li>If the web browser does support this event the native PWA install prompt will be shown.</li>
            <li>If the web browser doesn't support this event: an alternative instruction text will be shown.</li>
            <li>When the PWA is already installed the banner will not be shown again using CSS Media Queries.</li>
        </ul>

        <h2>Code examples</h2>

        <p>Please review the <a href="/js/install-pwa.js" target="_blank">install-pwa.js</a> script. And this page's CSS file on how this works.</p>

        <h2>Test on mobile devices</h2>

        <p>Scan the QR-Code for the URL of this web page.</p>

        <img src="/img/qr-code-pwa-install-prompt.svg" width="400" height="400" alt="Link to this URL" />

        <section class="pwa-banner" role="alert" aria-live="polite" hidden>
            <button class="pwa-banner_dismiss-button" title="Close" data-pwa-dismiss>&times;</button>
            <button class="pwa-banner_install-button" data-pwa-install>Install our PWA app</button>

            <p class="pwa-banner__instructions" hidden data-pwa-install-instructions>
                To install the app look for a "Add to Home Screen" or "Install" -button in your web browser
            </p>
        </section>
    </main>
</Layout>

<style is:global>
    .pwa-banner {
        background-color: var(--clr-lighter);
        padding: 20px;
        padding: 20px;
        position: fixed;
        transform: translateY(0);
        inset: auto 0 0 0;
        transition: transform 0.3s;
        display: flex;
        justify-content: center;
        box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.25);
    }

    .pwa-banner[hidden] {
        transform: translateY(120%);
    }

    /* Only show the banner if the web site is running in a normal web browser */
    @media (display-mode: browser) {
        .pwa-banner {
            display: flex;
        }
    }

    /* Hide the banner if the PWA is already installed or running in its own window / app shell, see manifest file */
    @media (display-mode: standalone), (display-mode: minimal-ui) {
        .pwa-banner {
            display: none;
        }
    }

    .pwa-banner_install-button {
        border: none;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--clr-primary);
        color: white;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .pwa-banner_install-button:hover {
        background-color: var(--clr-secondary);
    }

    .pwa-banner__instructions {
        position: relative;
    }

    .pwa-banner__instructions {
        margin: 0 50px;
        text-align: center;
    }

    .pwa-banner_dismiss-button {
        position: absolute;
        inset: 50% 10px auto auto;
        color: var(--clr-dark);
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 2rem;
        cursor: pointer;
    }
</style>
