---
import Layout from "../layouts/Layout.astro";

const title = "CSS @scope";
const description = "A demo of scoped CSS";
const permalink = `${Astro.site.href}15-css-at-scope/`;
---

<Layout title={title} description={description} permalink={permalink} showBackButton={true}>
    <main>
        <baseline-status featureId="scope" style="margin-block-end: 20px;"></baseline-status>

        <h2>CSS "Donut Scoping" using @scope</h2>

        <blockquote>
            <q>Allows CSS rules to be scoped to part of the document, with upper and lower limits described by selectors.</q>
        </blockquote>

        <code style="display: block;overflow-x: scroll;padding-inline:20px;border-radius: 10px;">
            <pre>
@scope (.card) to (.other-component) &#x2774;
    // Styling goes here for .card (the donut) 
    // but does NOT apply to .other-component (hole of the donut)
&#10101;</pre>
        </code>

        <ul>
            <li>
                MDN documentation: <a
                    href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@scope"
                    target="_blank"
                    rel="nofollow"
                >
                    CSS @scope
                </a>
            </li>
            <li>Can I Use.com: <a href="https://caniuse.com/?search=scope" target="_blank" rel="nofollow">scope</a></li>
        </ul>

        <figure>
            <figcaption>Using CSS <code>@scope</code> we only apply styles to the <strong>dark orange part</strong> displayed below</figcaption>
            <img src="/img/donut-scoping.png" width="" height="" alt="Donut scoping" fetchpriority="high" loading="eager" />
        </figure>

        <h3>Inspired by:</h3>

        <ul>
            <li>
                <strong>CSS Tricks article:</strong>
                <a href="https://css-tricks.com/solved-by-css-donuts-scopes/" target="_blank" rel="nofollow">"Solved by CSS: Donuts Scopes"</a>
            </li>
            <li>
                <strong>Smashing Magazine article:</strong>
                <a href="https://www.smashingmagazine.com/2026/02/css-scope-alternative-naming-conventions/" target="_blank" rel="nofollow">
                    "CSS @scope: An Alternative To Naming Conventions And Heavy Abstractions"
                </a>
            </li>
        </ul>

        <h2>Donut styling explained</h2>

        <ul>
            <li>
                Below we have <strong>3 card</strong>s (the donuts) and inside them is "another component" (the hole of the donut) that we <strong>
                    DONT'T want to be infuenced by the CSS styles of the card
                </strong>, and that's exactly what CSS @scope allows us to do .
            </li>

            <li>
                The HTML headings in each <code>.card</code>, also in <code>.other-component</code>, is a HTML H2 element. And <strong>
                    should NOT be affected by the scoped CSS
                </strong>.
            </li>
        </ul>

        <h3>Example donuts</h3>

        <p>
            Scoping CSS also helps by not having to put HTML classes on every element! Just style the HTML element itself inside the <code>
                @scope
            </code>. Inspect the <code>.card</code>'s HTML <strong>H2-element</strong> below.
        </p>

        <section class="card-wrapper">
            <article class="card">
                <img src="/img/donut-1.png" alt="Disco donuts" width="400" height="200" loading="lazy" />

                <h2>H2. Disco donuts</h2>

                <p>
                    Amet consectetur adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum obcaecati! Amet consectetur
                    adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum obcaecati!
                </p>

                <div class="other-component">
                    <h2>H2. Other component</h2>

                    <p><strong>Styling not influenced by the card's CSS</strong></p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum
                        obcaecati!
                    </p>
                </div>

                <a href="#" aria-label="Read more about Disco donuts">Read more</a>
            </article>

            <article class="card">
                <img src="/img/donut-2.webp" alt="Chocolate donuts" width="400" height="200" loading="lazy" />

                <h2>H2. Chocolate donuts</h2>

                <p>Amet consectetur adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum obcaecati!</p>

                <div class="other-component">
                    <h2>H2. Other component</h2>

                    <p><strong>Styling not influenced by the card's CSS</strong></p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum
                        obcaecati! Amet consectetur adipisicing elit.
                    </p>

                    <p>Mollitia cum eius facere ut ad libero amet ex consequatur nostrum obcaecati!</p>
                </div>

                <a href="#" aria-label="Read more about Chocolate donuts">Read more</a>
            </article>

            <article class="card">
                <img src="/img/donut-3.jpg" alt="Sugar donuts" width="400" height="200" loading="lazy" />

                <h2>H2. Sugar donuts</h2>

                <p>Amet consectetur adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum obcaecati!</p>

                <div class="other-component">
                    <h2>H2. Other component</h2>

                    <p><strong>Styling not influenced by the card's CSS</strong></p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cum eius facere ut ad libero amet ex consequatur nostrum
                        obcaecati!
                    </p>
                </div>

                <a href="#" aria-label="Read more about Sugar donuts">Read more</a>
            </article>
        </section>
    </main>
</Layout>

<style is:global>
    :root {
        --border-radius: 16px;
    }

    figure {
        margin: 20px 0;

        img {
            border-radius: 16px;
        }
    }

    figcaption {
        margin-block-end: 16px;
        font-style: italic;
    }

    blockquote {
        margin: 20px;
        padding: 10px;
        border-left: 4px solid #eee;
        font-style: italic;
        color: var(--clr-light);
        font-size: 2rem;
        line-height: 1.4;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media (width >= 768px) {
        .card-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, min-content);
            gap: 0 20px;
        }
    }

    /* Scope the styles to .card but not .other-component */
    @scope (.card) to (.other-component) {
        --padding: 20px;

        display: grid;
        grid-row: 1 / -1;
        grid-template-rows: subgrid;
        padding-block-end: var(--padding);
        background-color: #63200d;
        overflow: hidden;
        border-radius: var(--border-radius) var(--border-radius) 40px 40px;
        padding-block-end: 40px;

        h2,
        p {
            padding-inline: var(--padding);
            color: #fff;
        }

        h2 {
            margin-block-end: 0;
            font-weight: 700;
            font-size: 1.7rem;
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        a {
            display: inline-block;
            margin-inline: var(--padding);
            text-align: end;
            color: #fff;
        }
    }

    .other-component {
        margin-inline: 20px;
        margin-block-end: 20px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: var(--border-radius);
        background-color: #faeadb;

        h2 {
            color: #82bcc7;
            font-weight: 800;
        }
    }
</style>
