---
import Layout from "../../layouts/Layout.astro";
import Head from "../../components/06-css-view-transition/Head.astro";
import Header from "../../components/06-css-view-transition/Header.astro";

import "../../styles/06-css-view-transition.css";

const title = "CSS View Transition";
const description = "CSS View Transition";
const permalink = `${Astro.site.href}06-css-view-transition/`;
---

<Layout title={title} description={description} permalink={permalink} showBackButton={true}>
    <Head slot="begin-head" />

    <script src="https://cdn.jsdelivr.net/npm/baseline-status@1/baseline-status.min.js" type="module" slot="end-head"></script>

    <main>
        <section>
            <Header />

            <article>
                <h2>Intro</h2>

                <p>
                    Using the (CSS) View Transition API, you can create smooth transitions between different states of your web application. This can
                    be done on the <strong>same page</strong> or between <strong>different pages</strong> (as long as they share the same origin).
                </p>

                <p>This is a very basic demo of using (CSS) View Transition API in full page transition.</p>

                <p>
                    When navigation from the <strong>Home</strong> to the <strong>Speed</strong> -page, a page's title and hero image will animate between
                    them.
                </p>

                <figure class="hero">
                    <img src="/img/speed.jpeg" class="thumb" alt="Speed" width="200" />

                    <figcaption><a href="/06-css-view-transition/speed" class="title">Speed of our product</a></figcaption>
                </figure>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus deleniti illo molestias soluta iusto voluptatem aspernatur
                    dolor nostrum. Unde, culpa!
                </p>

                <hr style="margin-block: 60px" />

                <h2>Browser support</h2>

                <baseline-status featureId="view-transitions"></baseline-status>

                <p>As of this writing (August 2025) CSS ViewTransitions work in Chromium based web browsers:</p>

                <ul>
                    <li>Chrome (desktop and Android)</li>
                    <li>Edge</li>
                    <li>Brave</li>
                    <li>Opera (desktop and mobile)</li>
                    <li>Vivaldi</li>
                    <li>Safari (macOS &amp; iOS)</li>
                    <li>Samsung Internet</li>
                    <li>Android Browser</li>
                </ul>

                <p>
                    <strong>Firefox</strong> has support for CSS <code>view-transitions</code> behind a feature flag. On the Firefox Nightly web browser
                    <code>view-transitions</code>
                    are <strong>enabled by default.</strong>
                </p>

                <p>
                    Check <a href="https://caniuse.com/view-transitions" target="_blank">caniuse.com/view-transitions</a> for current web browser support.
                </p>

                <h2>More demo's</h2>

                <ul>
                    <li><a href="https://live-transitions.pages.dev/" target="_blank">https://live-transitions.pages.dev/</a></li>
                    <li>
                        <a href="https://github.com/google/io-connect-2024-ui-workshop" target="_blank">
                            https://github.com/google/io-connect-2024-ui-workshop
                        </a>
                    </li>
                    <li><a href="https://view-transitions.chrome.dev/profiles/mpa/">https://view-transitions.chrome.dev/profiles/mpa/</a></li>
                    <li>
                        <a href="https://css-tricks.com/toe-dipping-into-view-transitions/">
                            https://css-tricks.com/toe-dipping-into-view-transitions/
                        </a>
                    </li>
                    <li><a href="https://view-transitions.chrome.dev/cards/spa/">https://view-transitions.chrome.dev/cards/spa/</a></li>
                    <li><a href="https://http203-playlist.netlify.app/">https://http203-playlist.netlify.app/</a></li>
                    <li><a href="https://tympanus.net/Tutorials/Velvette/?list">https://tympanus.net/Tutorials/Velvette/?list</a></li>
                    <li>
                        <a href="https://moritzglantz.de/multi-page-view-transitions-demo/">
                            https://moritzglantz.de/multi-page-view-transitions-demo/
                        </a>
                    </li>
                    <li>
                        <a href="https://css-tricks.com/toe-dipping-into-view-transitions/">
                            https://css-tricks.com/toe-dipping-into-view-transitions/
                        </a>
                    </li>
                    <li><a href="https://www.patterns.dev/vanilla/view-transitions/">https://www.patterns.dev/vanilla/view-transitions/</a></li>
                    <li><a href="https://nerdy.dev/" target="_blank">https://nerdy.dev/</a></li>
                </ul>

                <h2>Blog's</h2>

                <p>
                    <a href="https://www.maxiferreira.com/blog/astro-page-transitions/" target="_blank">
                        https://www.maxiferreira.com/blog/astro-page-transitions/
                    </a>
                </p>
            </article>
        </section>
    </main>
</Layout>

<style is:global></style>
