---
import Layout from "../../layouts/Layout.astro";
import Head from "../../components/06-css-view-transition/Head.astro";
import Header from "../../components/06-css-view-transition/Header.astro";

import "../../styles/06-css-view-transition.css";

const title = "CSS View Transition";
const description = "CSS View Transition";
const permalink = `${Astro.site.href}06-css-view-transition/`;
---

<Layout title={title} description={description} permalink={permalink} showBackButton={true}>
    <Head slot="begin-head" />

    <main>
        <section>
            <Header />

            <article>
                <h2>Intro</h2>

                <p>
                    Requirements: a browser that supports the <a href="https://caniuse.com/view-transitions" target="_blank">View Transition API</a>
                </p>

                <p>This is a very basic demo of using (CSS) View Transition API in full page transition.</p>

                <p>
                    When navigation from the <strong>Home</strong> to the <strong>Speed</strong> -page, a page's title and hero image will animate between
                    them.
                </p>

                <figure class="hero">
                    <img src="/img/speed.jpeg" class="thumb" alt="Speed" width="200" />

                    <figcaption><a href="/06-css-view-transition/speed" class="title">Speed of our product</a></figcaption>
                </figure>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus deleniti illo molestias soluta iusto voluptatem aspernatur
                    dolor nostrum. Unde, culpa!
                </p>

                <hr style="margin-block: 60px" />

                <h2>Browser support</h2>

                <p>
                    As of this writing only Chromium web browser (Chrome, Edge, Opera and Chrome for Android), with a experimental flag enabled, are
                    supporting this new feature.
                </p>

                <h2>Enabling View Transition API in Chrome (Chromium)</h2>

                <ul>
                    <li>Open Chrome</li>
                    <li>In the address bar type: <code>chrome://flags/</code></li>
                    <li>
                        In the search bar type: <code>viewTransition</code>, two items will be shown: <strong>viewTransition API</strong> and <strong>
                            viewTransition API for navigations
                        </strong>
                    </li>
                    <li>"Enable" both and click the <strong>"Relaunch"</strong> -button</li>
                </ul>

                <p>
                    Check <a href="https://caniuse.com/view-transitions" target="_blank">caniuse.com/view-transitions</a> for current web browser support.
                </p>

                <h2>More demo's</h2>

                <ul>
                    <li><a href="https://live-transitions.pages.dev/" target="_blank">https://live-transitions.pages.dev/</a></li>
                    <li>
                        <a href="https://github.com/google/io-connect-2024-ui-workshop" target="_blank">
                            https://github.com/google/io-connect-2024-ui-workshop
                        </a>
                    </li>
                    <li><a href="https://fynn.be/blog/" target="_blank">https://fynn.be/blog/</a></li>
                    <li><a href="https://nerdy.dev/" target="_blank">https://nerdy.dev/</a></li>
                </ul>

                <h2>Blog's</h2>

                <p>
                    <a href="https://www.maxiferreira.com/blog/astro-page-transitions/" target="_blank">
                        https://www.maxiferreira.com/blog/astro-page-transitions/
                    </a>
                </p>
            </article>
        </section>
    </main>
</Layout>

<style is:global></style>
